@import "tailwindcss";

@font-face {
    font-family: "poppins-medium";
    src: url("/fonts/Poppins-Medium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "poppins-semi-bold";
    src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "poppins-bold";
    src: url("/fonts/Poppins-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "poppins-regular";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --color-tiny-black: #020202;
    --color-tiny-black-50: #e6e6e6;
    --color-tiny-black-100: #b0b0b0;
    --color-tiny-black-200: #8a8a8a;
    --color-tiny-black-300: #545454;
    --color-tiny-black-400: #333333;
    --color-tiny-pink: #be968e;

    --font-poppins-medium: "poppins-medium", sans-serif;
    --font-poppins-semi-bold: "poppins-semi-bold", sans-serif;
    --font-poppins-regular: "poppins-regular", sans-serif;
    --font-poppins-bold: "poppins-bold", sans-serif;
}

.outlined-text {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100%;
    position: absolute;
    display: flex;
    gap: 2px;
    align-items: center;
    padding-inline: 10px;
    z-index: 50;
    /* top: 10px; */
    margin-bottom: 360px;
}

@media (max-width: 1023px) {
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: 475px;
    }
}

span.swiper-pagination-bullet {
    background-color: #d4d4d4;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

span.swiper-pagination-bullet-active {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}
