@import "tailwindcss";

@font-face {
    font-family: "poppins-medium";
    src: url("/fonts/Poppins-Medium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "poppins-semi-bold";
    src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "poppins-bold";
    src: url("/fonts/Poppins-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "poppins-regular";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --color-tiny-black: #020202;
    --color-tiny-black-50: #e6e6e6;
    --color-tiny-black-100: #b0b0b0;
    --color-tiny-black-200: #8a8a8a;
    --color-tiny-black-300: #545454;
    --color-tiny-black-400: #333333;
    --color-tiny-pink: #be968e;
    --color-tiny-grey: #404040;

    --font-poppins-medium: "poppins-medium", sans-serif;
    --font-poppins-semi-bold: "poppins-semi-bold", sans-serif;
    --font-poppins-regular: "poppins-regular", sans-serif;
    --font-poppins-bold: "poppins-bold", sans-serif;
}

.outlined-text {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.product-images-preview .swiper-pagination-fraction,
.product-images-preview .swiper-pagination-custom,
.product-images-preview .swiper-horizontal > .swiper-pagination-bullets,
.product-images-preview
    .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100%;
    position: absolute;
    display: flex;
    gap: 2px;
    align-items: center;
    padding-inline: 10px;
    z-index: 50;
    margin-bottom: 475px;
}

.reviews-slider .swiper-pagination-fraction,
.reviews-slider .swiper-pagination-custom,
.reviews-slider .swiper-horizontal > .swiper-pagination-bullets,
.reviews-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    z-index: 10;
    height: 10px;
    bottom: 0;
}

.product-images-preview span.swiper-pagination-bullet {
    background-color: #d4d4d4;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.product-images-preview span.swiper-pagination-bullet-active {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.reviews-slider span.swiper-pagination-bullet {
    background-color: #8a8a8a;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.reviews-slider span.swiper-pagination-bullet-active {
    background-color: #be968e;
    width: 45px;
    height: 6px;
    border-radius: 10px;
}

.home-slider .swiper-pagination-fraction,
.home-slider .swiper-pagination-custom,
.home-slider .swiper-horizontal > .swiper-pagination-bullets,
.home-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 50%;
    inset-inline-start: 0;
    position: absolute;
    display: flex;
    justify-content: start;
    gap: 4px;
    align-items: center;
    z-index: 10;
    height: 10px;
    bottom: 0;
}

.home-slider span.swiper-pagination-bullet {
    background-color: #b0b0b0;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.home-slider span.swiper-pagination-bullet-active {
    background-color: #fff;
    width: 45px;
    height: 6px;
    border-radius: 10px;
}

@media (max-width: 640px) {
    .product-images-preview .swiper-pagination-fraction,
    .product-images-preview .swiper-pagination-custom,
    .product-images-preview .swiper-horizontal > .swiper-pagination-bullets,
    .product-images-preview
        .swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-bottom: 360px;
    }
}
@media (max-width: 640px) {
    .home-slider .swiper-pagination-fraction,
    .home-slider .swiper-pagination-custom,
    .home-slider .swiper-horizontal > .swiper-pagination-bullets,
    .home-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 4px;
        align-items: center;
        z-index: 10;
        height: 10px;
        bottom: 0;
    }
}
